BaumSweetRep.m
CWList.m
CWList2.m
CatherineTest.m
CountGL.m
DistanceDist.m
DistanceSubScript.m
EpsList.m
FF.m
FF2.m
FF3.m
FFlist.m
FirstFinder.m
LeastN.m
LevelDifferences.m
MaxOccurancePlot.m
ModList.m
NonTailPart.m
NumList.m
NumList2.m
PlotOccuranceLevel.m
RatFlip.m
RatRecip.m
ThueMorse.m
TreeEval.m
TreeInversion.m
TreeLvls.m
TrevorsDumbFunction.m
TwoFigures.m
_DS_Store
addlevls.m
addlevls2.m
complexityCheck.m
complexityCheckchange.m
d2b.m
distribution3.m
exponentialCheck.m
flippydoo.m
maxComplexityRow.m
maxZigs.m
modscript.m
npaths.m
pathComplexity.m
poop.m
poop2.m
poop3.m
poop4.m
poop5.m
poopp.m
poopplots.m
poopplots2.m
prodComplexity.m
ratmatcheck.m
ratp.m
sumComplexity.m
trevdistribution2.m
untitled29.m
whatRat.m
